.addMovieModal {
  width: 33vw;
  height: 10vh;
  min-width:45.625rem;
  min-height: 25rem; 
  padding: 1.25rem;
  background: #242424;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Bebas Neue;
}

.closeButton {
  width:100%;
  display: flex;
  justify-content: flex-end;
}

.closeButton a {
  cursor: pointer;
}

.modalTitle {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.25rem;
  letter-spacing: 0.25rem;
  color: #64EEBC;
}

.movieDndContainer {
  display: flex;
  justify-content: center;
  width: 80%;
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.25rem;
  border: 1px dashed #FFFFFF;
  padding: 2.688rem 0;
  margin: 3rem 0;
}

.movieDnd {
  display: flex;
  align-items: center;
} img {
  margin-right: 1rem;
}

.progress {
  width: 80%;
  font-style: normal;
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.25rem;
  margin: 3.75rem 0;
}

.progressAction {
  display: flex;
  justify-content: flex-end;
}

.progressAction a {
  cursor: pointer;
}
.progressBar {
  margin: 1rem 0;
}

.progressBar > div > div {
  height: 0.25rem !important;
  display: flex;
  align-items: center;
  background-color: #FFFFFF80 !important;
}

.movieTitle {
  width: 253px;
  padding-right: 5px;
}

.movieTitle input {
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.25rem;
  width: 100%;
  padding: 0;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px white solid;
  text-align: center;
}

.movieTitle input :focus-visible, :focus {
  outline: none;
}

.actions button {
  min-width: 15.5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: 0.25rem;
  color: #242424;
  background-color: #E5E5E5;
  padding: 1.25rem 3.5rem;
  margin-top: 3rem;
  border: none;
  box-shadow: none;
  cursor: pointer;
  transition: opacity 0.4s linear;
}

.actions button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media only screen and (max-width: 1023px) {
  .addMovieModal {
    width: 90vw;
    height: 90vh;
    max-width: 100vw;
    max-height: 100vh;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
  }
}