.movies{
  display: flex;
  margin-right: 6.5rem;
  flex-direction: column;
  align-items: flex-end;
}

.movieListSelector{
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.125rem;
  text-align: center;
  letter-spacing: 0.25rem;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13.75rem;
  height: 1.438rem;
  cursor: pointer;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
}

span{
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(245deg) brightness(103%) contrast(101%);
}

.dropdownHeader {
  background-color: transparent;
  font-family: 'Bebas Neue';
  border: none;
}

.movieListSelector a{
  margin-right: 0.625rem;
}

.movieList{
  margin-right: -0.625rem;
}

@media only screen and (max-width: 1023px) {
  .movieListSelector{
    margin: 0;
    width: 100%;
    height:100%;
  }

  .movies{
    position: inherit;
    align-items: center;
    margin: 0;
    z-index: 0;
  }

  .topGradient{
    height: 23.438rem;
    width: 100%;
    display: block;
    background: linear-gradient(180deg, rgba(36, 36, 36, 0) 0%, #242424 100%);
    margin-top: -23.438rem;
    z-index: -20;
  }

  .movieList{ margin: 0 }
}