.navigation{
  margin: 2rem 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primarySection{
  display: flex;
  align-items: center;
  z-index: 0;
}

.primarySection img{
  margin-right: 4rem;
}

.addMovieButton{
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.125rem;
  letter-spacing: 0.25rem;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 0.313rem;
}

.addMovieIcon{ margin: 0 0.75rem 0.313rem 0 }

.secondarySection{
  display: flex;
  align-items: center;
  z-index: 0;
}

.desktopImage{ margin-right: 2.5rem }
.addMovieMobileButton{ display: none; z-index: 0;}

@media only screen and (max-width: 1023px) {
  .navigation{ margin: 2.5rem 1.5rem }
  .addMovieMobileButton{ display: block; cursor: pointer }
  .desktopImage, .addMovieButton{ display: none }
  .primarySection img{ margin: 0 }
}