.addMovieModal {
  width: 33vw;
  height: 10vh;
  min-width:45.625rem;
  min-height: 25rem; 
  padding: 1.25rem;
  background: #242424;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Bebas Neue;
}

.mobileHeader{
  display: none;
}

.closeButton {
  width:100%;
  display: flex;
  justify-content: flex-end;
}

.closeButton a {
  cursor: pointer;
}

.actions button {
  min-width: 15.5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: 0.25rem;
  color: #242424;
  background-color: #E5E5E5;
  padding: 1.25rem 3.5rem;
  margin-top: 5.75rem;
  border: none;
  box-shadow: none;
  cursor: pointer;
  transition: opacity 0.4s linear;
}

.actions button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.message {
  text-align: center;
  font-weight: lighter;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.25rem;
}

.message h1 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.625rem;
  letter-spacing: 0.25rem;
  margin-top: 4.5rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 1023px) {
  .addMovieModal {
    width: 90vw;
    height: 90vh;
    max-width: 100vw;
    max-height: 100vh;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
  }

  .addMovieModal img {
    display: none;
  }
  
  .mobileHeader{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .mobileHeader img {
    display: block;
  }

  .closeButton {
    display: none;
  }

  .message {
    margin-top: 12rem;
  }
}